<template name="permissionDenied">
  <div class="camera-message">
    <h2>Camera Permissions Denied</h2>

    <p>
      You have denied this app permission to use your camera. If you would like to allow permissions, follow the directions for your browser below.
    </p>

    <p>
      <strong>Chrome</strong><br>
      Go to Settings > "Show advanced settings..." > "Content settings..." > Media heading > "Manage exceptions...", then find this website in the list and allow video capture.

      <strong>Firefox</strong><br>
      Reload the page and try again.
    </p>

    <p>
      <button class="button button-outline button-energized" data-action="cancel">Close Camera</button>
    </p>
  </div>
</template>
